@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

p {
    margin: 0%
}


.bg {
  width: 100%;
  height: 100%;
  background-color: bisque;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
    background-color: white;
    width: 70%;
    padding: 20px 15px

}

label.box {
    display: flex;
    margin-top: 10px;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ddd
}

#a:checked~label.a,
#b:checked~label.b,
#c:checked~label.b,
#eight:checked~label.eighth {
    border-color: #8e498e
}

#a:checked~label.a .circle,
#b:checked~label.b .circle,
#c:checked~label.c .circle,
#eight:checked~label.eighth .circle {
    border: 6px solid #8e498e;
    background-color: #fff
}

label.box:hover {
    background: #d5bbf7
}

label.box .course {
    display: flex;
    align-items: center;
    width: 100%
}

label.box .circle {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #ddd;
    display: inline-block
}

input[type="radio"] {
    display: none
}


.btn.btn-danger {
    border-radius: 25px;
    margin-top: 20px;
}

@media(max-width: 450px) {
    .subject {
        font-size: 12px
    }
}
